################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HouseRentingSystem/.vs/HouseRentingSystem
/HouseRentingSystem/HouseRentingSystem/bin/Debug/netcoreapp3.1
/HouseRentingSystem/HouseRentingSystem/obj
/HouseRentingSystem/HouseRentingSystem/bin/Release/netcoreapp3.1
/HouseRentingSystem/HouseRentingSystem/bin
/HouseRentingSystem/HouseRentingSystem/wwwroot/advertisement/gallery


