################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HouseRentingSystem/HouseRentingSystem/bin/Debug/netcoreapp3.1
/HouseRentingSystem/HouseRentingSystem/obj
/HouseRentingSystem/.vs
