@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy describes the policy of HouseRentingSystem regarding the collection, use, storage, sharing and protection of your personal information ("Privacy Policy"). 
</p>
<p>
    We promise that you data is safe and only used to improve the quality of our platform.
</p>
